@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* fg stands for foreground  */
  --fg-color: #f1f5f9;
  --bg-color: #121212;
}

body {
  color: var(--fg-color);
  background: var(--bg-color);
  padding-inline: 16px;
}

#tsparticles {
  z-index: -10;
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
